.photo-grid__pictur{
    width: 284px;
    height: 213px;
}
@media screen and (max-width: 1024px) {
    .photo-grid__pictur {
        width: 300px;
        height: 225px;
    }
}
  
@media screen and (max-width: 768px) {
    .photo-grid__pictur {
        width: 352px;
        height: 264px;
    }
}
  
@media screen and (max-width: 320px) {
    .photo-grid__pictur {
        width: 288px;
        height: 216px;
    }
}