.header__lang-link {
  margin: 18px 0 0;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.4s;
}
  
.header__lang-link:hover {
  opacity: 0.8;
}
  
@media screen and (max-width: 320px) {
  .header__lang-link {
    margin-top: 14px;
  }
}